/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/06/2016, 10:14:43
    Author     : j129-9
*/

.ui-outputlabel-rfi {
    color:gold;
}

*:required{
    background-color: navajowhite;
    border-color: orange;
}

.msgPageTitle{
    font-size: 2em;
}

.noBorder{
    border: none !important;
}

.noBackground{
    background: none !important;
}

.loginArea{
    line-height: 50%;
    font-size: xx-small;
}

.alignLeft{
    text-align: left;
}

.alignRight{
    text-align: right;
}

.alignCenter{
    text-align: center;
}

.withBorder{
    border: 1px solid blue;
}

.paddingPlus10{
    padding: 10px;
}

.messagePanel{
    height: 42px;
    overflow: auto;
    font-size: xx-small;
}

.likeBlock{
    display: block;
}

.editForm{
    
}

.listForm{
    
}

.listDT{
    
}

.formRow{
    display: inline-block;
    margin: 5px 15px 0px 0px;
}

.formRowLabel{
    margin-right: 10px;
    vertical-align: middle;    
}

.formRowValue{
    margin-right: 10px;
    vertical-align: middle;    
}

.postoDeTrabalhoHeader{
    width: 85px;
}

.titularHeader{
    width: 454px;
}

.eventoHeader{
    width: 302px;
}

.substitutoHeader{
    width: 454px;
}

.editorHeader{
    width: 70px;
}

input.readOnlyCtrl, select.readOnlyCtrl{
    color: brown !important;
    background-color: lightgray !important;        
    border-color: green !important;    
}

.fds{
    background-color: aquamarine;
}

